#banner_wrapper {
    display: block;
    height: 253px;
    width: 684px;
}
#banner_menu {
    float: left;
    width: 125px;
}
#banner_menu a {
    float: left;
    height: 61px;
    margin: 0 3px 3px 0;
    width: 125px;
}
#banner_menu a span {
    display: none;
}
#banner_menu a {
    background: url('/content/images/rotating-banner/banner_tabs.jpg') no-repeat 0 0;
}
#banner_menu a.menu2 {
    background-position: 0 -61px;
}
#banner_menu a.menu3 {
    background-position: 0 -122px;
}
#banner_menu a.menu4 {
    background-position: 0 -183px;
}
#banner {
    float: right;
    height: 253px;
    position: relative;
    width: 556px;
}
* html #banner {
    height: 182px;
}
html>body #banner {
    margin-bottom: 2px;
}
#banner #home_photo {
    display: block;
}
#banner a {
    display: none;
    position: absolute;
}
#banner a img {
    border: none;
}