/*
.example_menu {
    font-size: 90%;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 136px;
}
.expand_all,
.collapse_all {
    cursor: pointer;
}
.example_menu ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu1 li, #menu2 li, #menu3 li, #menu4 li, #menu5 li, .example_menu li {
    background-image: none;
    margin: 0;
    padding: 0;
}
.example_menu ul ul {
    display: block;
}
.example_menu ul ul li a {
    padding-left: 20px;
    width: 109px;
}
.example_menu a {
    color: #000;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-left: 0;
    padding: 2px 2px 2px 17px;
    width: 112px;
}
.example_menu a.expanded {
    background: #bbb url('/content/images/collapsible-menu/collapse.gif') no-repeat 3px 50%;
}
.example_menu a.collapsed {
    background: #bbb url('/content/images/collapsible-menu/expand.gif') no-repeat 3px 50%;
}
.example_menu a:hover {
    text-decoration: none;
}
.example_menu ul a {
    background: #e8e8e8;
    border-top: 2px solid #fff;
    color: #000;
    display: block;
    font-weight: normal;
    padding: 2px 2px 2px 10px;
    width: 119px;
}
.example_menu ul a:link {
    font-weight: normal;
}
.example_menu ul a:hover {
    background : #f5f5f5;
    text-decoration: underline;
}
.example_menu li.active a {
    background: #fff;
}
.example_menu li.active li a {
    background: #e8e8e8;
}
#menu1 li.footer, #menu2 li.footer, #menu3 li.footer, #menu4 li.footer, #menu5 li.footer, .example_menu .footer {
    background: transparent url('/content/images/collapsible-menu/footer.jpg') no-repeat 0 0;
    border-top: 2px solid #fff;
    height: 9px;
    line-height: 15px;
    margin: 0 0 10px 0;
    width: 131px;
}
.example_menu .footer span {
    display: none;
}
*/
.collapsible-menu {
    width: 150px;
}
.collapsible-menu,
.collapsible-menu ul {
    margin: 0;
    padding: 0;
}
.collapsible-menu li {
    list-style: none;
}
.collapsible-menu > li > a {
    background: #bbb none no-repeat 3px 50%;
    color: #333;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 2px 2px 2px 17px;
}
.collapsible-menu > li > a.collapsed {
    background-image: url('/content/images/collapsible-menu/expand.gif');
}
.collapsible-menu > li > a.expanded {
    background-image: url('/content/images/collapsible-menu/collapse.gif');
}
.collapsible-menu > li > ul {
    display: none;
}
.collapsible-menu > li > ul a {
    background: #e8e8e8;
    border-top: 2px solid #fff;
    color: #333;
    display: block;
    padding: 2px 2px 2px 10px;
}
.collapsible-menu > li > ul ul a {
    padding-left: 20px;
}
.collapsible-menu .footer {
    border-bottom: 10px solid #e8e8e8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
}