hr {
    margin: 2.2em 0;
}
.sidebar .logo {
    border-radius: 75px;
    max-width: none;
    width: auto;
}
.sidebar .social-icons > a {
    font-size: 25px;
    letter-spacing: 1px;
    margin-right: 8px;
    text-decoration: none;
}
.sidebar .social-icons > :last-child {
    margin-right: 0;
}
.content {
    max-width: none;
}
.portfolio-website {
    clear: both;
    margin-bottom: 10px;
    padding: 10px 10px 10px 0;
}
.website-name {
    background-color: #303538;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 2px 0 2px 10px;
}
.website-url {
    font-weight: bold;
}
.website-thumbnail {
    float: left;
    margin: 0 20px 20px 0;
}
.website-thumbnail img {
    border: 1px solid #555;
    margin: 0;
    padding: 0;
}
.website-name a,
.website-url a {
    text-decoration: none;
}
.website-clear {
    clear: both;
}
@media (max-width: 800px) {
    .sidebar {
        height: auto;
    }
    .sidebar .logo {
        margin-top: 0;
    }
    .sidebar .description {
        display: block;
    }
    .content {
        padding: 20px;
    }
}