#memory-match {
    margin: auto;
    max-width: 760px;
    min-height: 750px;
}
#memory-match button,
#memory-match button:hover,
#memory-match button:active,
#memory-match button:focus {
    color: #fff;
}
#memory-match header {
    border-bottom: 2px solid gray;
    font-size: 40px;
    padding: 30px 0 15px;
}
#memory-match-goHome {
    background-color: #A700AE;
    border: 3px solid #8C0095;
    cursor: pointer;
    color: #fff;
    display: none;
    float: right;
    font-size: 25px;
    padding: 3px 10px;
}
#memory-match-goHome:hover {
    color: #fff;
}
#memory-match audio {
    display: none;
}
#memory-match-menu {
    position: relative;
}
/*
#memory-match-menu nav {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    transform: perspective(1000px) rotateY(-180deg);
    -webkit-transform: perspective(1000px) rotateY(-180deg);
    width: 100%;
}
#memory-match-menu nav.active {
    transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
}
#memory-match-menu nav.closing {
    transform: perspective(1000px) rotateY(180deg);
    -webkit-transform: perspective(1000px) rotateY(180deg);
}
*/
#memory-match-menu nav {
    display: none;
    position: absolute;
    width: 100%;
}
#memory-match-menu nav button {
    border: 10px solid;
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
    width: 100%;
}
#memory-match-menu #memory-match-main > :nth-child(1),
#memory-match-menu #memory-match-difficulties button {
    background-color: #00A0B1;
    border-color: #008299;
}
#memory-match-menu #memory-match-difficulties button.selected {
    background-color: #00A600;
    border-color: #008A00;
}
#memory-match-menu #memory-match-main > :nth-child(2),
#memory-match-menu #memory-match-types button {
    background-color: #BF1E4B;
    border-color: #A10336;
}
#memory-match-menu #memory-match-types button.selected {
    background-color: #00A600;
    border-color: #008A00;
}
#memory-match-menu #memory-match-main > :nth-child(3) {
    background-color: #00A600;
    border-color: #008A00;
}
#memory-match-progress {
    font-size: 20px;
}
#memory-match-progress .score {
    float: left;
}
#memory-match-progress .timer {
    float: left;
    margin-left: 100px;
}
#memory-match-progress .attempts {
    float: right;
}
#memory-match-progress .streak {
    float: right;
    margin-right: 100px;
}
#memory-match-progress .attempts span,
#memory-match-progress .streak span {
    display: inline-block;
    width: 30px;
}
#memory-match-results {
    background: #333;
    box-sizing: border-box;
    color: #fff;
    display: none;
    left: 175px;
    padding: 20px;
    position: absolute;
    top: 100px;
    width: 400px;
    z-index: 10;
}
#memory-match-results > :first-child {
    border-bottom: 1px solid #555;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    text-align: center;
}
#memory-match-results .finalScore,
#memory-match-results .score,
#memory-match-results .bonus,
#memory-match-results .attempts,
#memory-match-results .misses,
#memory-match-results .duration,
#memory-match-results .streak {
    font-size: 20px;
    padding: 3px 0;
}
#memory-match-results .finalScore span,
#memory-match-results .score span,
#memory-match-results .bonus span,
#memory-match-results .attempts span,
#memory-match-results .misses span,
#memory-match-results .duration span,
#memory-match-results .streak span {
    float: right;
}
#memory-match-results .finalScore {
    font-weight: bold;
}
#memory-match-results button {
    border: 5px solid;
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
}
#memory-match-results button:nth-of-type(1) {
    background-color: #00A0B1;
    border-color: #008299;
}
#memory-match-results button:nth-of-type(2) {
    background-color: #BF1E4B;
    border-color: #A10336;
}
#memory-match-results button:nth-of-type(3) {
    background-color: #00A600;
    border-color: #008A00;
}
#memory-match-splash {
    display: none;
}
#memory-match-game {
    display: none;
    position: relative;
}
#memory-match-board {
    clear: both;
    padding-top: 40px;
}
#memory-match .tile {
    cursor: pointer;
    float: left;
    margin: 0 0 30px 30px;
    position: relative;
}
#memory-match-board.Hard .tile {
    margin: 0 0 15px 15px;
}
#memory-match .tile,
#memory-match .tile > div {
    height: 150px;
    width: 150px;
}
#memory-match-board.Hard .tile,
#memory-match-board.Hard .tile > div {
    height: 110px;
    width: 110px;
}
#memory-match .tile > div {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-style: solid;
    border-width: 10px;
    box-sizing: border-box;
    position: absolute;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}
#memory-match .tile > :first-child {
    background: #333;
    border-color: #000;
    transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    z-index: 2;
}
#memory-match .tile > :last-child {
    transform: perspective(1000px) rotateY(180deg);
    -webkit-transform: perspective(1000px) rotateY(180deg);
}
#memory-match .tile.flipped > :first-child {
    transform: perspective(1000px) rotateY(-180deg);
    -webkit-transform: perspective(1000px) rotateY(-180deg);
}
#memory-match .tile.flipped > :last-child {
    transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
}
#memory-match .tile .color,
#memory-match .tile .letter,
#memory-match .tile .number {
    background-color: #555;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    padding-top: 40px;
    text-shadow: 0 2px 10px black;
    text-align: center;
}
#memory-match-board.Hard .tile .color,
#memory-match-board.Hard .tile .letter,
#memory-match-board.Hard .tile .number {
    font-size: 30px;
    padding-top: 30px;
}
#memory-match .tile .picture {
}
.memory-match-clear {
    clear: both;
}